body {
  font-family: "Poppins", sans-serif;
  background-color: #000;

}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}
.hero {
  background: url(/images/alb2.jpg);
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.header {
  text-align: center;
  padding: 150px 0 100px;
  margin: 0;
  background-color: #000;
}
.icon {
  width: 120px;
  margin-bottom: 20px;
}
.header h1 {
  color: #ffff;
  background-color: #000;
  font-weight: 900;
  font-size: 200px;
  letter-spacing: 30px;
  line-height: 1;
  margin: 0;
  mix-blend-mode: multiply;
}
.header h2 {
  color: #ffff;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 20px;
  padding-bottom: 30px;
}
.header .btn {
  background-color: transparent;
  font-size: 26px;
  border: solid 2px #ffffff;
  color: #ffff;
  text-decoration: none;
  padding: 18px 23px;
  margin-left: auto;
  margin-bottom: 50px;
  letter-spacing: 3px;
}
.header .btn:hover {
  background-color: #054046;
  border: solid 2px #ffffff;
  color: #ffff;
  transition: all 200ms ease-in-out;
}
footer {
color: white;
text-align: center;
background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(/images/johnny-africa-Ck6A8DyhfaY-unsplash.jpg);
background-repeat: no-repeat;
background-size: cover;
padding: 5px;
background-position: center;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.9;
  margin-right: 20px;
  line-height: 24px;
 text-align: justify;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}
a {
color: rgb(59, 218, 218);
}